<html>
    <head>
        <!-- <meta charset="utf-8">
        <script src='js/annyang.js'></script>
        <script>
            annyang.start({autoRestart: false, continous: true})
            var recognition = annyang.getSpeechRecognizer();
            var final_transcript = '';
            recognition.interimResults = true;
            recognition.onresult = function(event) {
                var interim_transcript = '';
                final_transcript = '';
                for (var i = event.resultIndex; i < event.results.length; ++i) {
                    if (event.results[i].isFinal) {
                        final_transcript += event.results[i][0].transcript;
                        console.log("final_transcript="+final_transcript);
                    } else {
                        interim_transcript += event.results[i][0].transcript;
                        console.log("interim_transcript=" + interim_transcript);
                    }
                }
                document.getElementById('result').innerHTML = '중간값:=' + interim_transcript + '<br/>결과값='+final_transcript;
                console.log('interim='+interim_transcript+'|final='+final_transcript);
            };
        </script> -->
    </head>
    <body class="" id="grid">
        <br/><br/>
        한국어 음성 처리 테스트<br/><br/>
        <div id='result'>
            결과가 없습니다.
        </div>
    </body>
</html>